@font-face {
    font-family: StrawberryBlossom;
    src: url(../z656/assignment5/StrawberryBlossom.ttf);   
}  

@font-face {
    font-family: AvenirItalic;
    src: url(../z656/assignment5/AvenirNextItalic.otf);   
}  

@font-face {
    font-family: Avenir;
    src: url(AvenirLight.otf);   
}  
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h1.catalog {
    font-family: 'StrawberryBlossom';
    font-size: 5em;
    display: block;
    text-align: center;
}

h1 {
    font-family: Avenir;
    
}

h2 {
    font-size: 2em;
    font-family: Avenir;
    text-align: center;
    letter-spacing: .2em;
    float:left;
    
}

h4 {
    font-size: 1.5em;
    font-family: Avenir;
    text-align: left;
    color: #710A18;
    
}


p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    display: block;
}

p.bb {
    line-height: .4em;
    
}

div.ump {
   border-top: solid;
   border-bottom: solid;
   border-width: thin;
  width: 75%;
   margin-bottom: 15px;
   margin-top: 0px;
}

div.coach {
    border: solid;
    border-width: thin;
    width: 400px;
    padding-left: 20px;
   font-size: .75em;
  
    
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

td {
   border: 1px solid black;
   padding: 5px;
   font-family: 'Avenir';
   font-size: .75em;
    text-align:center;
    padding-left: 0px;
  
}



table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 70%;
    font-family: 'Avenir';
  
    
}

th {
    border: 1px solid black;
    text-align: center;
    background: #ffe9ec;
    padding: 3px;
    font-size: 1em;
}

th.bb {
    background: #F5EA64; 
    
}

hr {
    margin-top: 30px;
    
}

tr:nth-child(even) {
background-color: #f2f2f2;}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
 font-family: 'Avenir';   
}
