<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

		</head>
		<body>
			<h1>{{ page.title }}</h1>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/byauthor">Browse by Author</a></li>
	        		<li><a href="/byregion">Browse by Region</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			
			<div class="grid" id="searchBar">
				<div>
			<div id="search">
    <form role="search" method="get" action="{{ site.baseurl }}//search/">
        <input id="searchString" name="searchString"
                placeholder="Search" type="text">
        <input id="searchButton" name="googleSearchName" type="submit" value="Search">
    </form>
</div>
			{{ content }}
			
			</div><!-- /.container -->
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:your-email@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mapartlo">github.com/mapartlo</a></li>
				</ul>
			</footer>
		</body>
	</html>
