<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

		</head>
		<body>
			<h1>{{ page.title }}</h1>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/byauthor/authors.xml">Browse by Author</a></li>
	        		<li><a href="/byregion/regions.xml">Browse by Region</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/search">Search</a></li>
	    		</ul>
			</nav>
			
			<div class="container">
				
			{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:your-email@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mapartlo">github.com/mapartlo</a></li>
				</ul>
			</footer>
		</body>
	</html>
